.auth-page {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--color-background);
}

.auth-page .auth-left-container {
  /* background-color: var(--color-primary); */
  background: linear-gradient(180deg,
      rgba(0, 30, 66, 0.7) 0%,
      rgba(0, 30, 66, 0.99) 100%),
    url('../../assets/background-register.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 80px;
}

.auth-title-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.auth-title-container .auth-title {
  color: #819CCF !important;
}

.auth-page .auth-left-container hr {
  width: 250px;
  border: 0;
  border-top: 2px solid #13335F;
  margin: 40px 0 10px 0;
  opacity: 1;
}

.auth-subtitle {
  margin-top: 10px;
  color: #89CEFF !important;
}

.auth-right-container {
  display: flex;
  width: 50%;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.auth-subtitle {
  margin-top: 40px;
}

.auth-page .card {
  padding: 20px;
  display: flex;
  width: 100%;
  max-width: 450px;
}

.auth-page .btn-submit {
  border: none;
  background: var(--color-primary);
  color: var(--color-one);
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  margin: 30px 0 0 0;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.auth-page .btn-submit:hover {
  filter: brightness(1.2) !important;
  transform: translateY(-2px) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15) !important;
}

.auth-page label {
  color: var(--color-label);
  font-weight: 600;
  font-size: 14px;
}

.auth-page .input {
  border-color: var(--color-input-border);
  border-radius: 8px;
}

.auth-page .input:focus {
  border-color: var(--color-accent);
}

.auth-page .card .btn-register-call {
  display: flex !important;
  justify-content: center !important;
  margin-top: -8px !important;
}

.auth-page .card .btn-register-call:focus {
  box-shadow: none !important;
}

.auth-page .card .btn-reset-password {
  margin: 10px auto 0 auto !important;
  display: block !important;
}

.auth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.auth-header .lnr-arrow-right,
.auth-header .lnr-arrow-left {
  font-size: 25px;
  font-weight: bold;
  color: var(--color-primary);
}