.job-form {
  padding: 15px 20px;
  max-width: 1100px;
  margin: 0 auto;
  flex-grow: 1;
}

.job-form .card {
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #f0f0f0;
}

.job-form .card-title {
  padding-bottom: 12px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 15px;
}

.border-top {
  border-top: 1px solid #f0f0f0;
}

.job-form .textarea-tall textarea {
  height: 245px !important;
  min-height: 200px;
  resize: vertical;
}

/* Custom styles for buttons and grids */
.bg-blue {
  background-color: #203e81 !important;
  border-color: transparent !important;
}

.bg-blue:hover {
  background-color: #162a5b !important;
}