:root {
  --font-default: 'Lato', sans-serif;
  --color-border: #dfdfdf;
  --color-background: #F8F9FF;
  --color-text: #444;
  --color-label: #0B1C30;
  --color-one: #fff;
  --color-two: #001E42;
  --color-accent: #0058BE;
  --color-primary: #001E42;
  --color-input-border: #E2E8F0;
  --color-green: #2E8B38;
  --color-red: #E03A3A;
  --shadow-default: 0 4px 12px rgba(0, 0, 0, 0.05);
  --border-radius: 12px;
  --color-yellow: #FBAF3D;
}

body {
  margin: 0;
  height: 100%;
  font-family: var(--font-default);
  color: var(--color-text);
  background: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

.card {
  border-radius: var(--border-radius);
  padding: 10px;
  background: var(--color-one);
  box-shadow: var(--shadow-default);
  display: flex;
  flex-direction: column;
}

.button:focus {
  box-shadow: none;
}

.input:focus-visible {
  box-shadow: none !important;
}

.textarea:focus-visible {
  box-shadow: none !important;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
